<!--  Drop-down to Create a Post  -->
<button type="button" class="jm-comment-button" data-mdb-button-init data-mdb-ripple-init data-mdb-ripple-color="dark" onclick="toggleElement('commentForm-<%=postId%>')">
    Create Comment
</button>

<div class="container">
    <form id="commentForm-<%=postId%>" class="commentForm" style="display: none;">
        <input type="hidden" name="postId" value="<%= postId %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="nickname" value="<%= nickname %>">
        <textarea name="commentText" rows="4" cols="50"></textarea><br>
        <button type="submit" class="jm-link-button">Submit</button>
    </form>
</div>