<div class="" id="comment-<%= commentData.commentId %>">
    <div class="card-title jm-post-elements"><a href="">
        <img
            class="jm-profile-picture rounded-circle jm-square-small"
            src="https://storage.googleapis.com/jammate-cs467_cloudbuild/profile-pictures/<%= commentData.userId %>?t=<%= globalTimestamp %>"
            alt="User's Profile Picture"
            onerror="this.onerror=null; this.src='/icons/profile-user.png'"
        >
        <a class="jm-comment-clickable-user-name" href="/user/<%=commentData.userId %>">
        <strong><%= commentData.nickname %></strong>
        </a>
        <div class="jm-post-time">-
            <% const localDateTime = new Date(commentData.timestamp).toLocaleString(); %>
            <%= localDateTime %>
        </div>
    </div>
    <p class="card-text"><p><%= commentData.commentText %></p>
</div>
