<td scope="row" class="text-nowrap">
    <% if (post_data.fileType && post_data.fileType.startsWith('audio')) { %>
        <audio controls>
            <source src="data:<%= post_data.fileType %>;base64,<%= post_data.fileData %>" type="<%= post_data.fileType %>">
        </audio>
    <% } %>
</td>
<td>
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
        Likes: <%= post_data.likeCount %>
    </button>
</td>
<td>
    <div class="blockquote text-center">
        "<%= post_data.content %>"<br>-
        <a href="/user/<%=post_data.nickname %>" class="blue-text">
            <strong><%= post_data.nickname %></strong>
        </a>
    </div>

    <span class="badge bg-secondary mx-1"><%= post_data.instrument %></span>
    <span class="badge bg-primary mx-1"><%= post_data.genre%></span>
        <span class="badge bg-warning mx-1"><%= post_data.skill_level%></span>
    <span>
        <% const localDateTime = new Date(post_data.timestamp).toLocaleString(); %>
        Posted on <%= localDateTime %>
    </span>
    </div>
</td>
<td>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Comments
    </button>
</td>
<% if (loggedIn === true) {%>
    <td>
        <button class="btn btn-danger" type="button" onclick="deletePost('<%= post_data.postId %>')">
            Delete
        </button>
    </td>
<% }%>

</tr>
<tr>
<td colspan="3">
    <div class="collapse" id="collapseExample">
        <section>
            <div class="card">
                <div class="card-body">
                <!-- Reactions -->
                <%- include('input_comment') %>
                <%- include('comment') %>
                </div>
                <!-- Interactions -->
            </div>
            </section>
    </div>
</td>

