<!--  <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>  -->
<div class="card jm-post" id="post-<%=post_data.postId%>">
    <div class="card-header jm-feed-header"><a href="/user/<%=post_data.userId %>">
        <img
            class="jm-profile-picture rounded-circle jm-square-small"
            src="https://storage.googleapis.com/jammate-cs467_cloudbuild/profile-pictures/<%= post_data.userId %>?t=<%= globalTimestamp %>"
            alt="User's Profile Picture"
            onerror="this.onerror=null; this.src='/icons/profile-user.png'"
        >
      <a class="jm-clickable-user-name" href="/user/<%=post_data.userId %>">
          <%= post_data.nickname %></a>
    </div>

    <div class="container">
        <div class="row">
                <div class="card-body">
                    <div class="card-title">
                        <div>
                        <% if (post_data.fileType != null &&post_data.fileURL != null) { %>    <!-- We make sure that fileType and fileURL are not NULL -->
                            <% if (post_data.fileType.startsWith('audio')) { %>                 <!-- Otherwise we get an error when we use startsWith()-->
                            <audio controls>
                                <source src="<%=post_data.fileURL %>" type="<%= post_data.fileType %>">
                            </audio>
                        <% } } else { %>
                            <!--Just Diagnostics for now. Can replace with something nicer-->
                            <p></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="card-text">
                    <div class="jm-post-content">
                        <%= post_data.content %>
                    </div>
                    <div class="jm-post-elements">
                            <img id="likeButton-<%= post_data.postId %>" class="likeButton"
                            data-post-id="<%= post_data.postId %>" data-user-id="<%= userData.sub %>"
                            src="/icons/like.png" style="width: 30px">
                            <span id="likeCount-<%= post_data.postId %>"><h5><%= post_data.likeCount %></h5></span>
                            <img id="dislikeButton-<%= post_data.postId %>" class="dislikeButton"
                            data-post-id="<%= post_data.postId %>" data-user-id="<%= userData.sub %>"
                            src="/icons/dislike.png" style="width: 30px">
                        <div class="jm-post-metadata">
                            <span class="badge mx-1 jm-color-darkest jm-badge"><%= post_data.instrument %></span>
                            <span class="badge mx-1 jm-color-dark"><%= post_data.genre%></span>
                            <span class="badge mx-1 jm-color-neutral"><%= post_data.skillLevel%></span>
                        </div>
                        <div class ="jm-post-time">
                            <span><% const localDateTime = new Date(post_data.timestamp).toLocaleString(); %>
                        - <%= localDateTime %>
                        </span>
                        </div>
                    </div>
                    <div class="jm-post-elements">
                        <div class="jm-post-time">
                        <% if (loggedIn === true && post_data.userId === userData.sub) {%>
                                <button id="deleteButton-<%= post_data.postId %>" class="jm-comment-delete-button" type="button" onclick="deletePost('<%= post_data.postId %>')">
                                    Delete
                                </button>
                        <% }%>
                        <button type="button" class="jm-comment-button" data-bs-toggle="collapse" data-bs-target="#postComments-<%=post_data.postId%>" aria-expanded="false" aria-controls="collapseExample">
                            <%= post_data.commentCount %> Comment<%= post_data.commentCount !== 1 ? 's' : '' %>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div colspan="3">
                <div class="collapse" id="postComments-<%=post_data.postId%>">
                    <section>
                        <div class="card">
                            <%- include('comment_form', {postId: post_data.postId, userId: userData.sub, nickname: userData.nickname}) %>
                        </div>
                        <% post_data.comments.forEach(function(comment) { %>
                            <div class="card">
                                        <%- include('comment', {commentData: comment, userId: userData.sub, postId: post_data.postId, globalTimestamp:globalTimestamp}) %>
                            </div>
                        <% }); %>
                    </section>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


