<td scope="row" class="text-nowrap">
    <% if (post_data.fileType != null &&post_data.fileURL != null) { %>    <!-- We make sure that fileType and fileURL are not NULL -->
        <% if (post_data.fileType.startsWith('audio')) { %>                 <!-- Otherwise we get an error when we use startsWith()-->
        <audio controls>
            <source src="<%=post_data.fileURL %>" type="<%= post_data.fileType %>">
        </audio>
    <% } } else { %>
        <!--Just Diagnostics for now. Can replace with something nicer-->
        <p>Media File Unavailable fileType=<%=post_data.fileType%>, fileURL =<%=post_data.fileURL%> </p>
        <% } %>
</td>
<td>
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
        Like <%= post_data.likeCount %>
    </button>
</td>
<td>
    <div>
        <%= post_data.content %> -
        <a href="/user/<%=post_data.nickname %>" class="blue-text">
            <strong><%= post_data.nickname %></strong>
        </a>
    </div>

    <span class="badge bg-secondary mx-1"><%= post_data.instrument %></span>
    <span class="badge bg-primary mx-1"><%= post_data.genre%></span>
        <span class="badge bg-warning mx-1"><%= post_data.skillLevel%></span>
    <span>
        <% const localDateTime = new Date(post_data.timestamp).toLocaleString(); %>
        <%= localDateTime %>
    </span>
    </div>
</td>
<td>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Comments
    </button>
</td>
<td>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
        <i class="fas fa-share me-2"></i>Share
        </button>
</td>
</tr>
<tr>
<td colspan="3">
    <div class="collapse" id="collapseExample">
        <section>
            <div class="card">
                <div class="card-body">
                <!-- Reactions -->
                <%- include('input_comment') %>
                <%- include('comment') %>
                </div>
                <!-- Interactions -->
            </div>
            </section>
    </div>
</td>

