<!-- Partial for Ads that the User Posted-->

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <p>Ad ID: <%= ad_data.adId %><p>
    </div>
    <img src="<%= ad_data.fileURL %>" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= ad_data.content %></p>
      <div>
        <% if (loggedIn === true && ad_data.userId === userData.sub) {%>
            <td>
                <button id="deleteButton-<%= ad_data.adId %>" class="btn btn-danger" type="button" onclick="deleteAd('<%= ad_data.adId %>')">
                    Delete Ad
                </button>
            </td>
        <% }%>
        </div>
    </div>
  </div>