<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body class="container">
    <%- include('partials/border') %>
    <%- include('partials/header', {user: loggedIn}) %>
    <table class="table table-hover table-forum text-center">
    <tbody>
            <%- include('partials/ad', {ad_data: ads}) %>
    </tbody>
    </table>


</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>