<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: user, loggedIn: loggedIn}) %>

    <div class="container">
        <h1>Edit Your Profile</h1>
        <form action="/user/update-bio" method="POST">
            <label for="nickname">Profile Name:</label>
            <input type="text" id="nickname" name="nickname" value="<%= user.nickname %>" required><br>

            <label for="description">Profile Description:</label>
            <textarea id="description" name="description" required><%= user.description %></textarea><br>

            <label for="skillLevel">Skill Level:</label>
            <select id="skillLevel" name="skillLevel">
                <option value="Beginner" <%= user.skillLevel === 'Beginner' ? 'selected' : '' %>>Beginner</option>
                <option value="Intermediate" <%= user.skillLevel === 'Intermediate' ? 'selected' : '' %>>Intermediate</option>
                <option value="Advanced" <%= user.skillLevel === 'Advanced' ? 'selected' : '' %>>Advanced</option>
            </select><br>

            <input type="hidden" id="location" name="location"><br>

            <label for="instrument">Instrument:</label>
            <input type="text" id="instrument" name="instrument" list="instruments" value="<%= user.instrument %>"><br>


            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

    <script>
        // Add an event listener to trigger location retrieval when the page loads
        document.addEventListener("DOMContentLoaded", function() {
            // Check if Geolocation is supported
            if ("geolocation" in navigator) {
                // Use Geolocation API to get the user's location
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        // Success callback: update input field with obtained location
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;
                        const location = document.getElementById("location");
                        location.value = `{"latitude":${latitude}, "longitude":${longitude}}`;
                    },
                    function(error) {
                        // Error callback: handle error (e.g., user denied location access)
                        console.error("Error getting user's location:", error);
                    }
                );
            } else {
                // Geolocation API is not supported
                console.error("Geolocation is not supported by this browser.");
            }
        });
        </script>

    <%- include('partials/border_end') %>

    <%- include('partials/footer') %>
</body>
</html>

