<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>

        <div class="card jm-header">
            <% if (loggedIn) { %>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <%- include('partials/post_form', {user: user}) %>
                    <%- include('partials/ad_form', {user: user}) %>
                </div>
            <% } else {%>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="nav-link" href="/login"><button type="button" class="jm-button" >Create Post</button></a>
                    <a class="nav-link" href="/login"><button type="button" class="jm-button" >Create Ad</button></a>
                </div>
            <% } %>

        </div>

        <div class="container">
            <div class="row" >
                <div class="col-3 jm-ad">
                    <%- include('partials/ad', { ad_data: ads }) %>
                </div>
                <div class="col-9">
                        <div class="card-body">
                            <div class="card-title jm-feed-header">
                                Music Feed
                            </div>
                            <div class="card jm-post">
                                <% if (posts.length > 0 ) { %>
                                    <% for(let i = 0; i < Math.min(9, posts.length); i++) { %>
                                        <tr>
                                        <%- include('partials/post', {user: loggedIn, post_data: posts[i], userData: user}) %>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <%- include('partials/noPosts') %>
                                    <% } %>
                                </div>
                        </div>
                </div>
            </div>
          </div>


    <%- include('partials/border_end') %>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>
</html>