<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>

    <div class="container">
        <div class="row justify-content-center">
            <% if (loggedIn) { %>
                <div class="col-2">
                    <%- include('partials/post_form', {user: user}) %>
                </div>
                <div class="col-2">
                    <%- include('partials/ad_form', {user: user}) %>
                </div>
            <% } else {%>
                <div class="col-2">
                    <a class="nav-link" href="/login"><button type="button" class="jm-link-button" >Create Post</button></a>
                </div>
                <div class="col-2">
                    <a class="nav-link" href="/login"><button type="button" class="jm-link-button" >Create Ad</button></a>
                </div>
            <% } %>
        </div>
        <div class="row">
            <%- include('partials/ad', { ad_data: ads }) %>
            <div class="col jm-posts-homepage">
                    <div class="card-body">
                        <div class="card-title jm-feed-header">
                            <h5>Music Feed</h5>
                        </div>
                            <div class="card-text">
                                <% if (posts.length > 0 ) { %>
                                    <% for(let i = 0; i < Math.min(9, posts.length); i++) { %>
                                        <%- include('partials/post', {user: loggedIn, post_data: posts[i], userData: user}) %>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <%- include('partials/noPosts') %>
                                    <% } %>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>


    <%- include('partials/border_end') %>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>
</html>