<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>

        <h1 class="card jm-header">Musician Feed
            <% if (loggedIn) { %>
                <%- include('partials/post_form', {user: user}) %>
                <%- include('partials/ad_form', {user: user}) %>

            <% } else {%>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="nav-link" href="/login"><button type="button" class="jm-button" >Create Post</button></a>
                    <a class="nav-link" href="/login"><button type="button" class="jm-button" >Create Ad</button></a>
                </div>
            <% } %>

        </h1>

        <div class="container">
            <div class="row" >
                <div class="col-3 jm-ad">
                    <%- include('partials/ad', { ad_data: ads }) %>
                </div>
                <div class="col-9 jm-post">
                    <% if (posts.length > 0 ) { %>
                        <% for(let i = 0; i < Math.min(9, posts.length); i++) { %>
                            <tr>
                            <%- include('partials/post', {user: loggedIn, post_data: posts[i], userData: user}) %>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <%- include('partials/noPosts') %>
                        <% } %>
                </div>
            </div>
          </div>


    <%- include('partials/border_end') %>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>
</html>