<%- include('partials/header', {user: loggedIn}) %>
<body>
  <h1>Musician Feed</h1>
  <p> <%= user.description %></p>
  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
    <i class="fas fa-share me-2"></i>Edit Self-Bio
  </button>
  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
    <!--<i class="fas fa-share me-2"></i>Create Post -->
    <a class="nav-link" href="/post">Create Post</a>
  </button>
<table class="table table-hover table-forum text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody>
        <%- include('partials/post', {user: user}) %>
        <ul>
          <% for(let i = 0; i < posts.length; i++) { %>
            <li>User: <%= posts[i].nickname %>, content: "<%= posts[i].content %>", posted at (<%= posts[i].timestamp %>)</li>
          <% } %>
        </ul>

</tbody>
</table>


</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>