<%- include('partials/header', {user: loggedIn}) %>
<body>
  <h1><%= user.nickname %>!</h1>
  <p> <%= user.description %></p>
  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
    <i class="fas fa-share me-2"></i>Edit Self-Bio
  </button>
  <p>Contact me for gigs at is: <%= user.email %></p>
<table class="table table-hover table-forum text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody>
        <%- include('partials/post', {user: user}) %>
</tbody>
</table>


</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>