<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>
    <h1><%= user.nickname %>'s Profile </h1>
    <p>Description: <%= user.description %></p>
    <p>Skill Level: <%= user.skillLevel %></p>
    <p>Location: <%= user.location %></p>
    <p>Instrument: <%= user.instrument %></p>

<table class="table table-hover table-forum text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-info">
                    <a href="/user/edit">Edit Bio</a>
                </button>
            </div>
            <div class="col">
                <div>
                    <%- include('partials/ad_form', {user: user}) %>
                </div>
            </div>
            <div class="col">
                <div>
                    <%- include('partials/post_form', {user: user}) %>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-forum text-center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        <div class="mt-2 col-md-12">
            <h2>My posts on JamMate</h2>
            <% posts.forEach(function(post) { %>
            <div  class="post" id="post-<%= post.postId %>">
                <tr>
                    <%- include('partials/post', {loggedIn: loggedIn, post_data: post, userData: user}) %>
                </tr>
            </div>
            <% }); %>
        </div>
    </tbody>
</table>
<h2>My Ads Posted on JamMate</h2>
<% ads.forEach(function(ad) { %>
    <% if (ad.userId === user.sub) { %>
        <div  class="ad" id="ad-<%= ad.adId %>">
            <tr>
                <%- include('partials/userAd', {ad_data: ad, userData: user}) %>
            </tr>
        </div>
    <% } %>
<% }); %>
    <%- include('partials/border_end') %>
</body>
<footer>
    <button class="btn btn-danger" onclick="deleteAllPosts('<%= user.nickname %>')">
        Delete all of <%= user.nickname%>'s posts
    </button>
    <%- include('partials/footer') %>
</footer>
</html>