<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>
    <div class="container">
        <div class="row">
            <% if (loggedIn) { %>
                <div class="col-2">
                    <%- include('partials/post_form', {user: user}) %>
                </div>
                <div class="col-2">
                    <%- include('partials/ad_form', {user: user}) %>
                </div>
            <% } else {%>
                <div class="col-2">
                    <a class="nav-link" href="/login"><button type="button" class="jm-link-button" >Create Post</button></a>
                </div>
                <div class="col-2">
                    <a class="nav-link" href="/login"><button type="button" class="jm-link-button" >Create Ad</button></a>
                </div>

            <% } %>
        </div>
        <div class="row">
          <!-- Cover Photo -->
              <div class="cover-photo-box">
                  <img id="coverPhoto" src="<%= user.coverPhoto || 'JamMate/public/no-profile-picture-15257.png' %>" alt="Cover Photo" class="cover-photo" onerror="this.onerror=null; this.src='/no-profile-picture-15257.png'">
                  <button id="coverPhotoButton" class="btn btn-secondary btn-sm">Add Cover Photo</button>
                  <input type="file" id="coverPhotoInput" style="display: none;" accept="image/*">
              </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="bio-box jm-post">
                    <!-- Profile Picture -->
                    <img id="profilePic" src="<%= user.profilePicture || 'path/to/default/image.png' %>" alt="Profile Picture" class="profile-picture">

                    <!-- User's Name and Button for adding profile picture -->
                    <h1><%= user.nickname %>'s Profile</h1>
                    <button id="profilePicButton" class="btn btn-secondary btn-sm">Add Profile Picture</button>
                    <input type="file" id="profilePicInput" style="display: none;" accept="image/*">

                    <!-- User Information -->
                    <p><%= user.description %></p>
                    <p>Skill Level: <%= user.skillLevel %></p>
                    <p>Location: <%= user.locationName || "unknown" %></p>
                    <p>Instrument: <%= user.instrument %></p>
                    <button type="button" class="jm-edit-button">
                        <a href="/user/edit" class="text-white">Edit Bio</a>
                    </button>
                    <div class="mt-3">
                        <button onclick="deleteAllPosts('<%= user.nickname %>')" class="jm-comment-delete-button">
                            Delete All Posts
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Content for posts and ads -->
                <div class="card jm-post">
                    <div class="card-body">
                        <div class="card-title jm-feed-header">
                            My posts on JamMate
                        </div>
                        <div class="card-text">
                            <% posts.forEach(function(post) { %>
                                <div class="post" id="post-<%= post.postId %>">
                                    <div class="post-content">
                                        <%- include('partials/post', {loggedIn: loggedIn, post_data: post, userData: user}) %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>

                <h2>My Ads Posted on JamMate</h2>
                <% ads.forEach(function(ad) { %>
                    <% if (ad.userId === user.sub) { %>
                        <div class="ad" id="ad-<%= ad.adId %>">
                            <%- include('partials/userAd', {ad_data: ad, userData: user}) %>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script>
        document.getElementById('profilePicButton').addEventListener('click', function() {
            document.getElementById('profilePicInput').click();
        });

        document.getElementById('profilePicInput').addEventListener('change', function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('profilePic').src = e.target.result;
                };
                reader.readAsDataURL(this.files[0]); // Convert image to base64 string

                var formData = new FormData();
                formData.append('profilePicture', this.files[0]);
                fetch('/user/update-profile-picture', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Profile picture updated successfully!');
                    } else {
                        console.error('Failed to update profile picture');
                    }
                });

                this.value = ""; // Clear the file input for next use
            }
        });

        document.getElementById('coverPhotoButton').addEventListener('click', function() {
            document.getElementById('coverPhotoInput').click();
        });

        document.getElementById('coverPhotoInput').addEventListener('change', function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('coverPhoto').src = e.target.result;
                };
                reader.readAsDataURL(this.files[0]);

                var formData = new FormData();
                formData.append('coverPhoto', this.files[0]);
                fetch('/user/update-cover-photo', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Cover photo updated successfully!');
                    } else {
                        console.error('Failed to update cover photo');
                    }
                });

                this.value = "";
            }
        });
    </script>
</body>
</html>






