<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMetaData') %>
</head>
<body>
    <%- include('partials/border_start') %>
    <%- include('partials/header', {user: loggedIn}) %>


<form class="d-flex" action="/search" method="GET" role="search">
    <div class="input-group">
        <!-- Range -->
        <input class="form-control" type="number" name="range" placeholder="Range (mi)">

        <input class="form-control" type="text" name="instrument" list="instruments" placeholder="Instrument">

        <!-- Skill level -->
        <select class="form-select" name="skillLevel">
            <option value="" selected>Select skill level</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>

        <!-- Username -->
        <input class="form-control" type="text" name="username" placeholder="Username">

        <!-- Date range -->
        <input class="form-control" type="date" name="start_date" placeholder="Posts Since">
        <input class="form-control" type="date" name="end_date" placeholder="Posts Before">

        <!-- Descriptor -->
        <input class="form-control" type="text" name="descriptor" placeholder="Descriptor">

        <!-- Genre -->
        <input class="form-control" type="text" name="genre" list="genres" placeholder="Genre">

    </div>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<table class="table table-hover table-forum text-center">
    <tbody>
<% if (posts.length > 0 ) { %>
            <% for(let i = 0; i < Math.min(9, posts.length); i++) { %>
                <tr>
                    <%- include('partials/post', {user: loggedIn, post_data: posts[i], userData: user}) %>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
    <%- include('partials/border_end') %>
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>